* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif   ;
    background-color: black;
}

html {
    scroll-behavior: smooth;
}

/* INICIO HEADER */
.nav {
    background: linear-gradient( #00ff00 50%, #ffff00 30%);
    height: 55px;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 10;
}

.div-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.fa-solid.fa-bars {
    color: white;
    font-size: 15px;;
    background-color: rgb(42, 196, 0);
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 15px;
    transition: filter 0.4s ease, transform 0.4s ease;
}

.fa-solid.fa-user {
    color: white;
    font-size: 15px;;
    background-color: rgb(42, 196, 0);
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 15px;
    transition: filter 0.4s ease, transform 0.4s ease;
}

.fa-solid.fa-bars:hover,
.fa-solid.fa-user:hover {
    filter: brightness(0.7);
}

.logo {
    width: 150px;
    height: auto;
    margin-top: 90px;
    cursor: pointer;
    transition: filter 0.4s ease;
}

.logo:hover {
    filter: brightness(0.6);
}

/* Menu Lateral Esquerdo */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #008600;
    overflow-x: hidden;
    transition: 0.3s ease;
    z-index: 11;
    display: flex;
    flex-direction: column;
}

.div-logo {
    display: flex;
    justify-content: center;
}

.logo-menu {
    margin: 0;
    padding: 0;
    width: 140px;
    height: auto;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.sidebar ul li a {
    color: white;
    background-color: #ffffff5a;
    margin-top: 1px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 8px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    display: block;
    transition: 0.3s ease;
    text-align: center;
}

.sidebar ul li a:hover {
    background-color: #00000000;
}
/* Menu Lateral Esquerdo */

/* Menu Lateral Direito */
.sidebar-right {
    height: 180px;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #232323;
    overflow-x: hidden;
    transition: 0.3s ease;
    z-index: 100;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 10px 10px;
}

.sidebar-right .logo-menu {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    width: 90px;
    height: auto;
}

.sidebar-right ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.sidebar-right ul li a {
    color: white;
    background-color: #ffffff5a;
    margin-top: 1px;
    margin-left: 7px;
    margin-right: 10px;
    padding: 5px;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    display: block;
    transition: 0.3s ease;
    text-align: center;
}

.sidebar-right ul li a:hover {
    background-color: #00000000;
}
/* Menu Lateral Direito */
/* FIM HEADER */

/* INICIO RODAPÉ */
.div-fundo {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient( #00ff00 50%, #ffff00 30%);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #181818;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


footer p {
    color: white;
    text-align: center;
}

.div-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 30px;
    gap: 250px;
}

.logo-footer {
    width: 150px;
    height: auto;
    cursor: pointer;
    transition: filter 0.4s ease;
}

.logo-footer:hover {
    filter: brightness(0.4);
}

.logo-mycoding {
    width: 110px;
    height: auto;
    cursor: pointer;
    transition: filter 0.4s ease;
}

.logo-mycoding:hover {
    filter: brightness(0.4);
}
/* FIM RODAPÉ */

/* INICIO MODAL LOGIN */
/* O Modal (inicialmente escondido) */
.modal-login {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-login-content {
    background-color: #232323;
    margin: 190px auto;
    width: 30%;
    border-radius: 20px;
    padding: 20px;
}

.div-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-login h2 {
    color: white;
    margin-bottom: 10px;
    font-weight: bold;
}

.div-login input {
    width: 300px;
    margin: 10px;
}

.ant-input::placeholder {
    color: #666;
}

.div-btn {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.btn-login {
    margin-top: 10px;
    margin-right: 10px;
    width: 80px;
    height: 35px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 20px;
    color: white;
    background-color: #00ff00;
    border: 2px solid #00ff00;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.4s ease;
}

.btn-login:hover {
    background-color: #009900;
    border-color: #005e00;
}

.btn-recuperar {
    margin-top: 10px;
    width: 110px;
    height: 35px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 20px;
    color: white;
    background-color: #00ff00;
    border: 2px solid #00ff00;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.4s ease;
}

.btn-recuperar:hover {
    background-color: #009900;
    border-color: #005e00;
}

.close-login {
    color: white;
    float: right;
    font-size: 30px;
}

.close-login:hover,
.close-login:focus {
    color: black;
    cursor: pointer;
}
/* FIM MODAL LOGIN */


/* INICIO MODAL RECUPERAR */
/* O Modal (inicialmente escondido) */
.modal-recuperar {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-recuperar-content {
    background-color: #232323;
    margin: 190px auto;
    width: 30%;
    border-radius: 20px;
    padding: 20px;
}

.modal-recuperar .div-recuperar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

.modal-recuperar .div-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.modal-recuperar h2 {
    color: white;
    margin-bottom: 10px;
    font-weight: bold;
}

.div-recuperar input {
    width: 300px;
    margin: 10px;
}

.div-recuperar .ant-input::placeholder {
    color: #666;
}

.div-recuperar .div-btn {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-left: 10px;
}

.div-recuperar .btn-recuperar {
    margin-top: 10px;
    margin-right: 10px;
    width: 150px;
    height: 35px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 20px;
    color: white;
    background-color: #00ff00;
    border: 2px solid #00ff00;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.4s ease;
}

.div-recuperar .btn-recuperar:hover {
    background-color: #009900;
    border-color: #005e00;
}

.close-recuperar {
    color: white;
    float: right;
    font-size: 30px;
}

.close-recuperar:hover,
.close-recuperar:focus {
    color: black;
    cursor: pointer;
}
/* FIM MODAL RECUPERAR */

/* INICIO MODAL CADASTRO */
/* O Modal (inicialmente escondido) */
.modal-cadastro {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-cadastro-content {
    background-color: #232323;
    margin: 190px auto;
    width: 49%;
    border-radius: 20px;
    padding: 20px;
}

.div-cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

.div-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.modal-cadastro h2 {
    color: white;
    margin-bottom: 10px;
    font-weight: bold;
}

.div-cadastro input {
    width: 300px;
    margin: 10px;
}

.ant-input::placeholder {
    color: #666;
}

.div-btn {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-left: 10px;
}

.btn-cadastro {
    margin-top: 10px;
    margin-right: 10px;
    width: 100px;
    height: 35px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 20px;
    color: white;
    background-color: #00ff00;
    border: 2px solid #00ff00;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.4s ease;
}

.btn-cadastro:hover {
    background-color: #009900;
    border-color: #005e00;
}

.close-cadastro {
    color: white;
    float: right;
    font-size: 30px;
}

.close-cadastro:hover,
.close-cadastro:focus {
    color: black;
    cursor: pointer;
}
/* FIM MODAL CADASTRO */

/* INICIO RECUPERAR SENHA */
.conteiner-recuperar {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-recuperar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.div-recuperar h2 {
    color: white;
    font-weight: bold;
}
/* FIM RECUPERAR SENHA */

/* ------ LOGADO ------ */
.fa-solid.fa-house {
    color: white;
    font-size: 15px;;
    background-color: rgb(42, 196, 0);
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 15px;
    transition: filter 0.4s ease, transform 0.4s ease;
}

.fa-solid.fa-house:hover {
    filter: brightness(0.7);
}

/* Menu Lateral Direito */
.sidebar-right-logado {
    height: 218px;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #232323;
    overflow-x: hidden;
    transition: 0.3s ease;
    z-index: 100;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 10px 10px;
    gap: 5px;
}

.div-usuarioNome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #00ff00;
}

.sidebar-right-logado .logo-menu {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    width: 90px;
    height: auto;
}

.sidebar-right-logado ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.sidebar-right-logado ul li a {
    color: white;
    background-color: #ffffff5a;
    margin-top: 1px;
    margin-left: 10px;
    margin-right: 11px;
    padding: 5px;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    display: block;
    transition: 0.3s ease;
    text-align: center;
}

.sidebar-right-logado ul li a:hover {
    background-color: #00000000;
}
/* Menu Lateral Direito */